<table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%">
    <tr>
        <td align="center"><h2 style="color: red; font-size: 2em; margin-top: 25px;">sparespace</h2></td>
        <hr>
    </tr>
    <tr>
        <td>
            <p>Hi {{h.fullname}}</p>
            <p>I am interested in your space! Feel free to reply to this email to begin negotiation!</p>
        </td>
    </tr>
    <tr>
        <td>
            <p><strong>Space Information</strong></p>
            <hr>
            <p><strong>Title: </strong>{{l.title}}</p>
            <p><strong>Price: </strong>{{l.price}}</p>
            <p><strong>Description: </strong>{{l.description}}</p>
        </td>
    </tr>
    <tr>
        <td align="center"><a href="http://www.usesparespace.com">usesparespace.com</a></td>
    </tr>
</table>