<table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%">
    <tr>
        <td align="center">
            <h2 style="color: red; font-size: 2em; margin-top: 25px;">sparespace</h2>
        </td>
        <hr>
    </tr>
    <tr>
        <td>
            <p>Hi {{user.first}},</p>
            <p>You have a new message on sparespace!</p>
            <p>Go to the <strong>Account</strong> tab to view your messages!</p>

        </td>
    </tr>
    <tr>
        <td align="center">
            <a href="http://www.usesparespace.com">usesparespace.com</a>
        </td>
    </tr>
</table>