<table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%">
    <tr>
        <td align="center"><h2 style="color: red; font-size: 2em; margin-top: 25px;">sparespace</h2></td>
    </tr>
    <tr>
        <td colspan="3">
            <p><strong>Nice to meet you {{user.first}}!</strong></p>
            <p>We need you to verify your account.</p>
            <p>Click <a href="http://localhost:3001/verify/{{user._id}}">here</a> and go to <strong>Log In</strong> to get started!</p>
        </td>
    </tr>
    <tr>
        <td align="center"><a href="http://www.usesparespace.com">usesparespace.com</a></td>
    </tr>
</table>