
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Sign Up</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
    </head>
    <body>
        <!--
	Ideally these elements aren't created until it's confirmed that the 
	client supports video/camera, but for the sake of illustrating the 
	elements involved, they are created with markup (not JavaScript)
	-->
<script type="text/javascript" src="{{ url_for('static', filename = 'newhtml.js') }}"></script>


<center>

    <div>
    <video id="video" width="640" height="480" style="border: 1px solid black;" autoplay></video>
    <canvas id="canvas" name="canvas" width="640" height="480"  style="border: 1px solid black;" ></canvas>
    </div>

<form method="post" action="/register" autocomplete="on">
	Username:<input type="text" name="username" id="username" required><br>
	Password:<input type="password" name="password" id="password" required><br>
    <input type="hidden" id="imageUrl" name="imageUrl" value="" />
    <input type="submit" id="snap" value="Register">    
</form>

<form method="post" action="/back">
    <input type="submit" value="back">
</form>

</center>

    </body>
</html>
