
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Test Website</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
    </head>
    <body>
        <!--
	Ideally these elements aren't created until it's confirmed that the 
	client supports video/camera, but for the sake of illustrating the 
	elements involved, they are created with markup (not JavaScript)
	-->

<script>
</script>

<center>


<div id="createPNGButton">
   
<input type="button" onclick="location.href='/newHtml';" value="New User" />
<input type="button" onclick="location.href='/oldHtml';" value="Returning User" />

    
</div>
</center>

    </body>
</html>
